.otp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 15px;
}

.input-container {
  display: flex;
}

.otp-input {
  height: 50px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  color: blueviolet;
  background-color: antiquewhite;
}

.reset-button {
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(191, 49, 49, 0.789);
    color: white;
    transition: background-color 0.5s ease;
}

.reset-button:hover {
    background-color: rgb(191, 49, 49);
}
