* {
  box-sizing: border-box;
}

.container {
  text-align: left;
  padding: 15px;
  max-width: 200px;
  cursor: pointer;
}

.item-container {
  border: 0.2px solid grey;
  border-radius: 5px;
}

.icons-container {
  margin-top: 3px;
}

.icon {
  width: 15px;
  margin-left: 5px;
}
